<div class="full-screen-container">
  <div class="logo">
    <img src="../../../../assets/img/views/logoApp.png" class="wise">
  </div>
<article class="modal">
  <div class="modal-content-A">
    <img src="../../assets/icons/alert.png" alt="">
    <p class="p">Cierre de Sesión</p>
  </div>
  <div class="modal-content-B">
    <p>¿Estás seguro de que deseas cerrar tu sesión de WiseGlot?</p>
    <div class="contentBtn">
      <button class="Cancelar" (click)="cancel()">Cancelar</button>
      <button (click)="handleLogOut()">Cerrar Sesión</button>
    </div>
    
  </div>
</article>
</div>