<article class="modal">
  <div class="modal-content">
    <h1>Reestablecer contraseña</h1>
    <p>Introduce la dirección de correo electrónico asociado a tu cuenta</p>

    <form>
      <p class="p">Correo electrónico</p>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="Correo electrónico"
        [(ngModel)]="email"
      />
    </form>
    <div class="btn">
      <app-btn-auth
      [color]="areFieldsEmpty() ? '#CCCCCC' : '#2B2B2B'"
      [textColor]="areFieldsEmpty()? '#000000' : '#FFFFFF'"
      [borderColor]="'none'"
      [title]="'Siguiente'"
      (click)="handleClick()"
      [hoverColor]="'#0600FF'"
      [disabled]="areFieldsEmpty()"
      width="325px"
    ></app-btn-auth>
    </div>

    <div class="messageError" [ngClass]="{ show: showErrorMessage }">
      <app-message-error [descrip]="errorMessage" />
    </div>
    <div class="link">
      <p class="descriptionRegister">¿Has recordado tu contraseña?</p>
      <button class="btnRegister" [routerLink]="['/login']">Inicia sesión</button>
    </div>

  </div>
  <app-loading *ngIf="isLoading" />
</article>
