<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/views/back.png" />
      </button>
      <img src="../../../assets/img/views/logoApp.png" class="logoApp" />
    </section>
    <section class="bodyA">
      <app-title-lr
        [title]="'INICIA SESIÓN'"
        [subtitle]="'Bienvenido de nuevo, ya te extrañábamos.'"
        width="47%"
      ></app-title-lr>
    </section>
  </div>
  <div class="ContentB">
    <section class="bodyB">
      <form class="form">
        <section class="contentInput">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Correo electrónico"
            [(ngModel)]="email"
          />
          <div class="password-container">
            <input
              [type]="passwordFieldType"
              name="password"
              id="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
            />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
              <img [src]="passwordFieldType === 'password' ? '../../../assets/icons/eyeClosed.png' : '../../../assets/icons/eye.png'" />
            </button>
          </div>
          <button
            type="button"
            class="Forgot"
            [routerLink]="['/forgot-password']"
          >
            ¿Olvidaste tu contraseña?
          </button>
          <div class="contentBtn">
            <app-btn-auth
              [color]="'#2B2B2B'"
              [textColor]="'#FFFFFF'"
              [borderColor]="'none'"
              [title]="'Inicia sesión'"
              (click)="handleClick()"
              [hoverColor]="'#0600FF'"
            ></app-btn-auth>
            <div class="link">
              <p class="descriptionRegister">¿No tienes una cuenta?</p>
              <button class="btnRegister" [routerLink]="['/register']">
                Regístrate
              </button>
            </div>
          </div>
        </section>
      </form>
    </section>
    <div class="messageError" [ngClass]="{ 'show': showErrorMessage }">
      <app-message-error [descrip]="errorMessage"></app-message-error>
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</ion-content>
