<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp" />
    </section>
    <section class="bodyA">
      <app-title-lr
        [title]="'Login'"
        [subtitle]="'Welcome back we missed you.'"
      />
    </section>
  </div>
  <div class="ContentB">
    <section class="bodyB">
      <form class="form">
        <section class="contentInput">
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Email"
            [(ngModel)]="email"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            [(ngModel)]="password"
          />
          <button
            type="button"
            class="Forgot"
            [routerLink]="['/forgot-password']"
          >
            ¿Forgot Password?
          </button>

          
          <div class="contentBtn">
            <div class="btn">
              <app-btn-auth
                [color]="'#2B2B2B'"
                [textColor]="'#FFFFFF'"
                [borderColor]="'none'"
                [title]="'Login'"
                (click)="handleClick()"
              />
            </div>
              <div class="link">
                <p class="descriptionRegister">You do not have an account?</p>
                <button class="btnRegister" [routerLink]="['/register']">
                  Register
                </button>
              </div>
          </div>

        </section>
      </form>
    </section>

    <div class="messageError" [ngClass]="{ 'show': showErrorMessage }">
      <app-message-error [descrip]="errorMessage"></app-message-error>
    </div>
  </div>
</ion-content>
