<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">

    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
    </section>

    <section class="bodyA">
      <app-title-lr
        [title]="'Validate Secret Code'"
        [subtitle]="'Enter the code we send to your email address.'"
      />
    </section>
  </div>

  <div class="ContentB">
    
    <div class="ContentCode">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
    </div>

    <section class="contentBtn">
      <a>¿No ha llegado aún? Prueba enviándolo de nuevo</a>
      <div class="btn">
        <button class="btnLogin">Resend code</button>
      </div>
    </section>

    <div class="messageError">
      <app-message-error descrip="Los datos de proporcionados ya se encuentran registrados en nuetra base de datos"/>
    </div>

  </div>
</ion-content>
