<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">

    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
    </section>

    <section class="bodyA">
      <app-title-lr
        [title]="'Validate Secret Code'"
        [subtitle]="'Enter the code we send to your email address.'"
      />
    </section>
  </div>

  <div class="ContentB">
    
    <div class="ContentCode">
      <input type="number" id="numero" name="numero"  max="1" pattern="[0-9]" inputmode="numeric" maxlength="1" [(ngModel)]="c1">
      <input type="number" id="numero" name="numero"  max="1" pattern="[0-9]" inputmode="numeric" maxlength="1" [(ngModel)]="c2">
      <input type="number" id="numero" name="numero"  max="1" pattern="[0-9]" inputmode="numeric" maxlength="1" [(ngModel)]="c3">
      <input type="number" id="numero" name="numero"  max="1" pattern="[0-9]" inputmode="numeric" maxlength="1" [(ngModel)]="c4">
    </div>

    <section class="contentBtn">
      <a>¿No ha llegado aún? Prueba enviándolo de nuevo</a>
      <div class="btn">
        <button class="btnLogin" (click)="handleClick()">Resend code</button>
      </div>
    </section>

    <div class="messageError" [ngStyle]="{ 'opacity': showErrorMessage ? 1 : 0 }">
      <app-message-error [descrip]="errorMessage"/>
    </div>

  </div>
</ion-content>
