<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
    </section>

    <section class="bodyA">
      <app-title-lr
        [title]="'VALIDAR CÓDIGO SECRETO'"
        [subtitle]="'Introduce el código que enviamos a tu correo electrónico.'"
      ></app-title-lr>
    </section>
  </div>

  <div class="ContentB">
    <div class="ContentCode">
      <input
        type="text"
        id="numero1"
        name="numero1"
        maxlength="1"
        [(ngModel)]="c1"
        (keypress)="validateInput($event)"
      />
      <input
        type="text"
        id="numero2"
        name="numero2"
        maxlength="1"
        [(ngModel)]="c2"
        (keypress)="validateInput($event)"
      />
      <input
        type="text"
        id="numero3"
        name="numero3"
        maxlength="1"
        [(ngModel)]="c3"
        (keypress)="validateInput($event)"
      />
      <input
        type="text"
        id="numero4"
        name="numero4"
        maxlength="1"
        [(ngModel)]="c4"
        (keypress)="validateInput($event)"
      />
      <input
        type="text"
        id="numero5"
        name="numero5"
        maxlength="1"
        [(ngModel)]="c5"
        (keypress)="validateInput($event)"
      />
      <input
        type="text"
        id="numero6"
        name="numero6"
        maxlength="1"
        [(ngModel)]="c6"
        (keypress)="validateInput($event)"
      />
    </div>

    <section class="contentBtn">
      <div class="btn">
        <app-btn-auth
          [color]="'#2B2B2B'"
          [textColor]="'#FFFFFF'"
          [borderColor]="'none'"
          [title]="'Siguiente'"
          (click)="handleClick()"
          [hoverColor]="'#0600FF'"
        ></app-btn-auth>
      </div>

      <div class="link">
        <p>¿No ha llegado aún?</p>
        <button>Prueba enviándolo de nuevo</button>
      </div>
    </section>

    <div class="messageError" [ngClass]="{ 'show': showErrorMessage }">
      <app-message-error [descrip]="errorMessage"></app-message-error>
    </div>
  </div>
  <app-loading *ngIf="isLoading" />
</ion-content>
