<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="body">
      <div class="top">
        <button (click)="closeModal()" class="closeModal">
          <img src="../../../../assets/icons/equisBlue.png" alt="" />
        </button>
      </div>
      <div class="middle">
        <h3>
          {{ title }}
        </h3>
        <div class="contentDay">
          <button
            class="nextNum"
            *ngIf="!isCustomInput"
            (touchstart)="startDecreasing()"
            (touchend)="stopAdjusting()"
            (touchcancel)="stopAdjusting()"
          >
            <span><</span>
          </button>

          <div class="contentInput">
            <input
            type="tel"
            [(ngModel)]="value"
            [readonly]="!isCustomInput"
            (input)="validateNumericInput($event)"
          />
            <p>{{ valueType }}</p>
          </div>

          <button
            class="nextNum"
            *ngIf="!isCustomInput"
            (touchstart)="startIncreasing()"
            (touchend)="stopAdjusting()"
            (touchcancel)="stopAdjusting()"
          >
            <span>></span>
          </button>
        </div>
        <p class="subTitle">{{ subTitle }}</p>
        <button
          class="personalizado"
          [ngClass]="{ active: isCustomInput }"
          (click)="toggleCustomInput()"
        >
          Establecer número personalizado
        </button>

        <button class="save" (click)="handleSaveClick()">Guardar</button>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
  <app-modal-error [isVisible]="isModalErrorVisible" [description]="errorDescription" (close)="closeModalError()"/>
</div>
