<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp" />
    </section>

    <section class="bodyA">
      <app-title-lr
        [title]="'REGÍSTRATE'"
        [subtitle]="'Tenemos muchas cosas que enseñarte, estamos seguros que te encantarán.'"
      />
    </section>
  </div>

  <div class="ContentB">
    <section class="bodyB">
      <form class="form">
        <div class="contentInput">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Nombre y apellido"
            [(ngModel)]="fullname"
          />
          <input
            type="text"
            name="email"
            id="email"
            placeholder="Correo eléctronico"
            [(ngModel)]="email"
          />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            [(ngModel)]="password"
          />
          <section class="contentBtn">
            <div class="btn">
              <app-btn-auth
                [color]="'#2B2B2B'"
                [textColor]="'#FFFFFF'"
                [borderColor]="'none'"
                [title]="'Regístrate'"
                (click)="handleClick()"
                [hoverColor]="'#0600FF'"
              />
            </div>

            <article>
              <div class="link">
                <p class="descriptionRegister">¿Ya tienes una cuenta?</p>
                <button class="btnRegister" [routerLink]="['/login']">
                  Inicia sesión
                </button>
              </div>
            </article>
          </section>
        </div>
      </form>
    </section>

    <div class="messageError" [ngClass]="{ 'show': showErrorMessage }">
      <app-message-error [descrip]="errorMessage" />
    </div>
  </div>
  <app-loading *ngIf="isLoading"></app-loading>
</ion-content>
