<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp" />
    </section>

    <section class="bodyA">
      <app-title-lr
        [title]="'Register'"
        [subtitle]="'We have many things to show you, we are sure you will love them.'"
      />
    </section>
  </div>

  <div class="ContentB">
    <section class="bodyB">
      <form class="contentInput">
        <input type="text" name="name" id="name" placeholder="Name and Surname" [(ngModel)]="nickname"/>
        <input type="text" name="email" id="email" placeholder="Email" [(ngModel)]="email"/>
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="password"/>
      </form>
    </section>

    <section class="contentBtn">
      <div class="btn">
        <app-btn-auth
          [color]="'#2B2B2B'"
          [textColor]="'#FFFFFF'"
          [borderColor]="'none'"
          [title]="'Register'"
          (click)="handleClick()"
        />
      </div>

      <article>
        <div class="link">
          <p class="descriptionRegister">Already have an account?</p>
          <button class="btnRegister" [routerLink]="['/login']">
            Login
          </button>
        </div>
      </article>
    </section>

    <div class="messageError" [ngStyle]="{ 'opacity': showErrorMessage ? 1 : 0 }">
      <app-message-error [descrip]="errorMessage"/>
    </div>
  </div>
</ion-content>
