<article class="modall">
  <div class="modal-contentt">
    <h1>Has solicitado una nueva contraseña!</h1>
    <p>
      Un código secreto ha sido enviado a tu dirección de correo electrónico.
      Verifica tu bandeja de entrada para encontrarlo.
    </p>
    <div class="content-btnn">
      <div class="btn">
        <app-btn-auth
          [color]="'#2B2B2B'"
          [textColor]="'#FFFFFF'"
          [borderColor]="'none'"
          [title]="'Siguiente'"
          (click)="handleClick()"
          [hoverColor]="'#0600FF'"
          width="325px"
        ></app-btn-auth>
      </div>
    </div>
  </div>
</article>
