<article class="modal">
  <div class="modal-content">
    <h1>Reset password</h1>
    <p>Enter the e-mail address you used to register</p>

    <form>
      <p class="p">Email</p>
       <input type="text" name="email" id="email" placeholder="Email" [(ngModel)]="email"/>
    </form>

    <button class="btn" (click)="handleClick()">Send</button>
    <div class="link">
      <p class="descriptionRegister">Already have an account?</p>
      <button class="btnRegister" [routerLink]="['/login']">Login</button>
    </div>
    <div class="messageError" [ngStyle]="{ opacity: showErrorMessage ? 1 : 0 }">
      <app-message-error [descrip]="errorMessage" />
    </div>
  </div>
</article>
