<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button (click)="previousStep()" [ngStyle]="{
          'display': step === 4 ? 'none' : 'block',
          'opacity': step === 4 ? 0 : 1 
        }">
          <img src="../../../assets/img/views/back-black.png"/>
        </button>

        <div class="group">
          <p class="contador">{{step + 1}}/{{titles.length}}</p>
        </div>
      </article>

      <article>
        <div class="bard">
          <div class="bard-fill" [ngStyle]="{'width': getProgressBardWidth()}"></div>
        </div>
        <app-title-preference [title]="titles[step]" />
      </article>
    </section>
    <div class="descrip">
      <p>{{descriptions[step]}}</p>
    </div>
  </div>

  <div *ngIf="step === 0" class="ContentB">
    <div *ngFor="let item of preferenceOneAndTwo" (click)="selectOne(item)" [ngClass]="{'animated-item': step === 0}">
      <app-button-preferences-one
        [language]="item.des_language"
        [img]="item.icon"
      ></app-button-preferences-one>
    </div>
  </div>

  <div *ngIf="step === 1" class="ContentB">
    <div *ngFor="let item of preferenceOneAndTwo" (click)="selectTwo(item)" [ngClass]="{'animated-item': step === 1}">
      <app-button-preferences-two
        [img]="item.icon"
        [job]="item.des_language"
      ></app-button-preferences-two>
    </div>
  </div>

  <div *ngIf="step === 2" class="ContentB">
    <div *ngFor="let item of preferenceThree" (click)="selectTwo(item)" [ngClass]="{'animated-item': step === 2}">
      <app-button-preferences-two
        [img]="item.icon"
        [job]="item.des_reason_to_study"
      ></app-button-preferences-two>
    </div>
  </div>

  <div *ngIf="step === 3" class="ContentB">
    <div *ngFor="let item of preferenceFour" (click)="selectTwo(item)" [ngClass]="{'animated-item': step === 3}">
      <app-button-preferences-two
        [img]="item.icon"
        [job]="item.des_language_level"
      ></app-button-preferences-two>
    </div>
  </div>

  <div *ngIf="step === 4" class="ContentB">
    <div *ngFor="let item of preferenceFive" (click)="toggleSelectThree(item)" [ngClass]="{'animated-item': step === 4}">
      <app-button-preference-three
        [img]="item.icon"
        [job]="item.des_topic"
        [ngClass]="{'animated-item': true, 'selected': isSelected(item)}"
        [topic]="item"
        (selected)="onTopicSelected(item)"
      ></app-button-preference-three>
    </div>
    <div *ngIf="preferenceTopic.length > 0" class="button-container">
      <button (click)="goToNextView()" class="next-view-button">
        <img src="../../../assets/img/views/back-black.png" alt="" />
      </button>
    </div>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
</ion-content>
