<div *ngIf="option === 'Nombre'" class="Container">
  <div class="top">
    <button class="back" (click)="back()">
      <img src="../../../assets/img/views/back-black.png" />
    </button>
    <h3>Actualizar nombre</h3>
  </div>

  <div class="button">
    <div class="containerInput">
      <label>Nombre</label>
      <input type="text" value="{{title}}" />
    </div>

    <div class="containerBtn">
      <button>Hecho</button>
    </div>
  </div>
</div>

<!-- Correo -->
<div *ngIf="option === 'Dirección de correo'" class="Container">
  <div class="top">
    <button class="back" (click)="back()">
      <img src="../../../assets/img/views/back-black.png" />
    </button>
    <h3>Actualizar correo</h3>
  </div>

  <div class="button">
    <div class="containerInput">
      <label>Dirección de correo</label>
      <input type="text" value="{{title}}" />
    </div>

    <div class="containerBtn">
      <button>Hecho</button>
    </div>
  </div>
</div>

<div *ngIf="option === 'Idioma del sistema'" class="ContainerProximamente">
  <h1>No disponible</h1>
  <button class="btnProximamente" (click)="back()">Atras</button>
</div>

<div *ngIf="option === 'Suscripción'" class="ContainerProximamente">
  <h1>No disponible</h1>
  <button class="btnProximamente" (click)="back()">Atras</button>
</div>



