.select{
    display: flex;
    // justify-content: center;
    flex-direction: column;
    width: 346px;
    background: #F0F0F0;
    border-radius: 10px;
    margin-bottom: 15px;
}
.select:hover{
    border: 1px solid #0600FF;
    background-color: rgba(6, 0, 255, 0.2);
}
.contentSelect{
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.primary{
    width: 30px;
    height: 25px;
}
.secondary{
    font-size: 18px;
    font-weight: 500;
    color: #040099;
}