<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-background" (click)="closeModal()"></div>
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="modal-content">
    <div class="body">
      <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Freeze'"
      (click)="handleFreeze()"
      [hoverColor]="'#0600FF'"
      width="385px"
      [icon]="'../../../../assets/icons/freeze.png'"
      />

      <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Seleccionar'"
      (click)="handleSelect()"
      [hoverColor]="'#0600FF'"
      width="385px"
      [icon]="'../../../../assets/icons/select.png'"
      />
      <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Editar'"
      (click)="handleEdit()"
      [hoverColor]="'#0600FF'"
      width="385px"
      [icon]="'../../../../assets/icons/pencilEdit.png'"
      />
      <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'red'"
      [borderColor]="'none'"
      [title]="'Eliminar'"
      (click)="handleDeleteModal()"
      [hoverColor]="'#0600FF'"
      width="385px"
      [icon]="'../../../../assets/icons/trashRed.png'"
      />
    </div>
    <ng-content></ng-content>
  </div>
  <app-modal-error [description]="errorDescription" [isVisible]="isModalErrorVisible" (close)="closeModalError()"/>
  <app-delete-reset-modal [isVisible]="isModalVisible" (close)="closeModalTwo()" title="Eliminar Carta" option="Si, Eliminar" (action)="handleDelete()"/>
</div>
