<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp" />
    </section>

    <section class="body">
      <article class="modal">
        <div class="modal-content">
          <h1>A new password is requested</h1>
          <p>
            An email has been sent to <b>usergmail.com</b>. For more information on changing your password, please refer to the email. 
          </p>
          <div class="content-btn">
          <button class="btn" [routerLink]="['/reset-password']">Connect Here</button>
        </div>
        </div>
      </article>
    </section>
  </div>
</ion-content>
