.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    width: 90%;
    height: 20%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-align: center;
  }

  p {
    font-size: 18px;
    font-weight: bold;
    color: black;
    padding: 5px;
  }
  
  .contentBtn{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }