<!-- modalSelection.component.html -->
<div class="modal-overlay">
  <div class="modal-content">

    <div class="titleModal">
      <img src="../../../../assets/img/views/logoModal.png">
    </div>

    <div class="descrip">
      <p class="description">{{ message }}</p>
    </div>
    
    <div class="contentBtn">
      <app-btn-auth
        [color]="'white'"
        [textColor]="'#2B2B2B'"
        [borderColor]="'2px solid #0600FF'"
        [title]="'No'"
        (click)="handleButtonClick('Si')" 
        width="100px"
      ></app-btn-auth>

      <app-btn-auth
        [color]="'#2B2B2B'"
        [textColor]="'#FFFFFF'"
        [borderColor]="'none'"
        [title]="'Si'"
        (click)="handleButtonClick('Nativo')" 
        width="100px"
      ></app-btn-auth>
    </div>


  </div>
</div>
