*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ion-content {
    --background: #ffffff;
    height: 100%;
    width: 100%;
}
button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background: #ffffff;
    color: black;
    font-weight: bold;
}
.ContentA{
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContentB{
    background: #0600FF;
    height: 45%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bodyB{
    height: 80%;
    width: 80%;
    display: flex;
}
.header-min{
    height: 40%;
}
h4{
    padding-bottom: 10px;
}
.body-min{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

