<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <img src="../../../assets/img/views/Logo.jpg" alt="WiseGlot">
  </div>

  <div class="ContentB">
    <section class="bodyB">
      <div class="ap">
        <section class="header-min">
          <app-title
            [title]="'HOLA'"
            [subtitle]="'Nos encanta tenerte aquí, inicia sesión o regístrate para adentrarte en el mundo de Wise Glot.'"
            />
        </section>

        <section class="body-min">
          <div>
            <app-btn-auth
              [color]="'#FFFFFF'"
              [textColor]="'#000000'"
              [borderColor]="'none'"
              [title]="'Inicia sesión'"
              (click)="onLogin($event)"
              [hoverColor]="'#FFFFFF'"
            />
          </div>
          <div>
            <app-btn-auth
              [color]="'transparent'"
              [textColor]="'#FFFFFF'"
              [borderColor]="'2px solid #FFFFFF'"
              [title]="'Regístrate'"
              (click)="onRegister($event)"
              [hoverColor]="'#0600FF'"
            />
          </div>
        </section>
      </div>
    </section>
  </div>
</ion-content>
