*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ion-content {
    --background: #ffffff;
    height: 100%;
    width: 100%;
}

.ContentA{
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContentB{
    background: #0600FF;
    height: 45%;
}

