<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png">
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp">
    </section>
    <section class="bodyA">
      <app-title-lr
        [title]="'Restablecer contraseña'"
        [subtitle]="'Establece tu nueva contraseña secreta. Asegurate de no compartirla con nadie'"
      ></app-title-lr>
    </section>
  </div>

  <div class="ContentB">
    <section class="bodyB">
      <form class="form">
        <div class="contentInput">
          <input [type]="showPassword ? 'text' : 'password'" name="newPassword" id="newPassword" placeholder="Crear contraseña" class="input" [(ngModel)]="password">
          <div class="content-confirm">
            <input [type]="showPassword ? 'text' : 'password'" name="coPassword" id="coPassword" placeholder="Confirmación" class="confirm" [(ngModel)]="confirmPassword">
            <p class="rules">Debe tener mínimo 8 caracteres</p>
          </div>
          <div class="checkbox">
            <input type="checkbox" class="viewPassword" (change)="togglePassword()">
            <p class="view">Mostrar contraseña</p>
          </div>
          <section class="contentBtn">
            <!-- <div class="btn"> -->
              <app-btn-auth
              [color]="'#2B2B2B'"
              [textColor]="'#FFFFFF'"
              [borderColor]="'none'"
              [title]="'Cambiar contraseña'"
              (click)="handleClick()"
              [hoverColor]="'#0600FF'"
            ></app-btn-auth>
            <!-- </div> -->
          </section>
        </div>
      </form>
    </section>

    <div class="messageError" [ngClass]="{ 'show': showErrorMessage }">
      <app-message-error [descrip]="errorMessage"></app-message-error>
    </div>
  </div>
<app-modal *ngIf="showSuccessModal" [message]="'Password changed successfully!'" (buttonClick)="redirectToLogin()"/>
</ion-content>
