<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png">
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp">
    </section>
    <section class="bodyA">
      <app-title-lr
        [title]="'Change Password'"
        [subtitle]="'Create a new secure password that you do not use on other sites.'"
      />
    </section>
  </div>

  <div class="ContentB">
    <section class="bodyB">
      <form class="contentInput">
        <input [type]="showPassword ? 'text' : 'password'" name="newPassword" id="newPassword" placeholder="Create Password" class="input">
        <div class="content-confirm">
          <input [type]="showPassword ? 'text' : 'password'" name="coPassword" id="coPassword" placeholder="Confirmation" class="confirm">
          <p class="rules">Debe tener minimo 8 caracteres</p>
        </div>
        <div class="checkbox">
          <input type="checkbox" class="viewPassword" (change)="togglePassword()">
          <p class="view">Mostrar contraseña</p>
        </div>
      </form>
    </section>
    <section class="contentBtn">
      <div class="btn">
        <button class="btnLogin">Change Password</button>
      </div>
    </section>
  </div>
</ion-content>