@import '/src/global.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;
}
ion-content {
    --background: #0600FF;
    height: 100%;
    width: 100%;
}
.ContentA{
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ContentB{
    background: #ffffff;
    height: 55%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bodyB{
    height: 60%;
    width: 80%;
    padding-top: 50px;
    // background: red;
}
.contentInput{
    padding-top: 15px;
    height: 50%;
}
input{
    padding-left: 25px;
    color: black;
}
.input{
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: none;
    outline: none;
    margin-bottom: 25px;
    font-size: 14px;
    background-color: #F0F0F0;
}

.confirm{
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #F0F0F0;
}
.content-confirm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Forgot{
    color: #1B1B1B;
    font-weight: 400;
    font-size: 14px;
    background: none;
}
.contentBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 80%;
}
.btnLogin{
    width: 100%;
    height: 50px;
    background-color: #2B2B2B;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
}
article{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column; 
    height: 50%;
}
.btn{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.descriptionRegister{
    color: #1B1B1B;
    font-weight: 400;
    font-size: 15px;
    background: none;
}
.btnRegister{
    color: #1B1B1B;
    font-weight: 600;
    font-size: 15px;
    background: none;
}
.back{
    width: 15px;
    height: 25px;
    background: none;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30%;
    width: 90%;
    gap: 10px;
}
.logoApp{
    width: 110px;
    height: 30px;
    background: none;
}
.bodyA{
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}
.checkbox input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.rules{
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    padding-left: 25px;
}
.view{
    color: #000000;
    font-weight: 400;
    font-size: 15px;
}
.messageError{
    width: 80%;
}