<div class="titleHome">
  <img src="../../../assets/img/views/logoApp.png" class="imgHome" />
  <div class="subTitleHome">
    <div class="imgCircle">
      <div class="subCircle">
        <img
          src={{url_profile_pic}}
          class="imgProfile"
        />
      </div>
    </div>
    <h5>Bienvenido, {{userName}}</h5>
  </div>
  <div class="contentBtnCard">
    <app-btn-card
      title="Mazo de Cartas"
      description="<strong>Crea cartas personalizadas o generadas por IA</strong> para memorizar vocabulario y frases comunes en tu idioma de estudio utilizando la repetición espaciada."
      icon="../../../assets/img/views/home-view/cards.png"
    />

    <app-btn-card
      title="IA Partner"
      description="<strong>Mantén conversaciones reales con un modelo de IA en tu idioma de
  estudio.</strong> La IA te responderá y corregirá tu escritura, estructura de
  oraciones, y te ofrecerá alternativas de frases y palabras."
      icon="../../../assets/img/views/home-view/phoneWiseglot.png"
    />
  </div>
</div>

<div class="circles circle11"></div>
<div class="circles circle22"></div>
<div class="circles circle33"></div>
