<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/views/back.png" />
      </button>
      <img src="../../../assets/img/views/logoApp.png" class="logoApp" />
    </section>
    <section class="bodyA">
      <app-title-lr
        [title]="'RESTABLECER CONTRASEÑA'"
        [subtitle]="'Establece tu nueva contraseña secreta. Asegurate de no compartirla con nadie'"
        width="80%"
      ></app-title-lr>
    </section>
  </div>

  <div class="ContentB">
    <section class="bodyB">
      <form class="form">
        <div class="contentInput">
          <div class="password-container">
            <input
              [type]="passwordFieldType"
              name="password"
              id="password"
              placeholder="Contraseña"
              [(ngModel)]="password"
              class="input"
            />
            <button
              type="button"
              class="toggle-password"
              (click)="togglePasswordVisibility()"
            >
              <img
                [src]="passwordFieldType === 'password' ? '../../../assets/icons/eyeClosed.png' : '../../../assets/icons/eye.png'"
              />
            </button>
          </div>
          <div class="password-container">
            <input
              [type]="passwordFieldType"
              name="password"
              id="password"
              placeholder="Contraseña"
              [(ngModel)]="confirmPassword"
              class="confirm"
            />
          </div>
          <section class="contentBtn">
            <!-- <div class="btn"> -->
            <app-btn-auth
              [color]="'#2B2B2B'"
              [textColor]="'#FFFFFF'"
              [borderColor]="'none'"
              [title]="'Cambiar contraseña'"
              (click)="handleClick()"
              [hoverColor]="'#0600FF'"
              width="325px"
            ></app-btn-auth>
            <!-- </div> -->
          </section>
        </div>
      </form>
    </section>

    <div class="messageError" [ngClass]="{ 'show': showErrorMessage }">
      <app-message-error [descrip]="errorMessage"></app-message-error>
    </div>
  </div>
  <app-modal
    *ngIf="showSuccessModal"
    [message]="'Has cambiado tu contraseña con éxito!'"
    (buttonClick)="redirectToLogin()"
  />
</ion-content>
