<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button>
          <img src="../../../assets/img/back-black.png" [routerLink]="['/login']"/>
        </button>
        <p>1/4</p>
      </article>

      <article>
        <div class="bard"></div>
        <h4>What's your native languege?</h4>
      </article>
    </section>
    <div class="descrip">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim aperiam
        dignissimodd
      </p>
    </div>
  </div>
  <div class="ContentB">
    <app-button-preferences-one
      language="English"
      subLanguage="United States"
    />
    <app-button-preferences-one
      language="English"
      subLanguage="United Kingdom"
    />

    <app-button-preferences-one
      language="Español"
      subLanguage="España"
    />
    <app-button-preferences-one
      language="Español"
      subLanguage="México"
    />
    <app-button-preferences-one
      language="Español"
      subLanguage="Argentina"
    />
    <app-button-preferences-one
      language="Español"
      subLanguage="Colombia"
    />
    <app-button-preferences-one
      language="Español"
      subLanguage="Chile"
    />
    <app-button-preferences-one
      language="Español"
      subLanguage="Perú"
    />
    <app-button-preferences-one
      language="Español"
      subLanguage="Venezuela"
    />
    <app-button-preferences-one
      language="Español"
      subLanguage="Ecuador"
    />
  </div>
</ion-content>
