@import '/src/global.scss';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif !important;
}
ion-content {
    --background: #ffffff;
    height: 100%;
    width: 100%;
}
.ContentA{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ContentB {
    height: 70%;
    display: flex;
    flex-direction: column;
    direction: column;
    align-items: center;
    overflow-y: scroll;
    transition: opacity 0.5s ease, transform 0.5s ease;
    -webkit-transition: opacity 0.5s ease, transform 0.5s ease;
}
  
.bodyA{
    width: 90%;
}
.contador{
    font-weight: 700;
    color: #000000;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}
.bard {
    height: 21px;
    border-radius: 10px;
    border: 1px solid #0600FF;
    background-color: rgba(6, 0, 255, 0.2);
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
.bard-fill {
    height: 100%;
    background-color: #0600FF;
    transition: width 0.3s;
    border-radius: 10px;
  }
img{
    width: 15px;
    height: 25px;
}
button{
    background-color: transparent;
}
.descrip{
    width: 90%;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
}
@keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animated-item {
    animation: slideInLeft 0.5s forwards;
  }
  
