<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button (click)="previousStep()">
          <img src="../../../assets/img/back-black.png" />
        </button>
        <div class="group">
          <p class="contador">{{step + 1}}/{{titles.length}}</p>
          <button
            class="rojo"
            [disabled]="!selectedOption"
            (click)="selectOption(step)"
            [ngClass]="{'disabled-button': !selectedOption}"
            >
            <img src="../../../assets/img/back-black.png" class="next" />
          </button>
        </div>
      </article>

      <article>
        <div class="bard">
          <div
            class="bard-fill"
            [ngStyle]="{'width': getProgressBardWidth()}"
          ></div>
        </div>
        <app-title-preference [title]="titles[step]" />
      </article>
    </section>
    <div class="descrip">
      <p>{{descriptions[step]}}</p>
    </div>
  </div>

  @if (step === 0) {
    <div class="ContentB">
      @for (item of preferenceOneAndTwo; track item) {
        <app-button-preferences-one
          [language]="item.des_language"
          [subLanguage]="item.abb_language"
          [ngClass]="{'animated-item': true}"
          (click)="selectOne(item)"
          />
      }
    </div>
  }

  @if (step === 1) {
    <div class="ContentB">
      @for (item of preferenceOneAndTwo; track item) {
        <app-button-preferences-two
          [img]="item.icon"
          [job]="item.des_language"
          [ngClass]="{'animated-item': true}"
          (click)="selectTwo(item)"
          />
      }
    </div>
  }

  @if (step === 2) {
    <div class="ContentB">
      @for (item of preferenceThree; track item) {
        <app-button-preferences-two
          [img]="item.img"
          [job]="item.job"
          [ngClass]="{'animated-item': true}"
          (click)="selectTwo(item)"
          />
      }
    </div>
  }

  @if (step === 3) {
    <div class="ContentB">
      @for (item of preferenceFour; track item) {
        <app-button-preferences-two
          [img]="item.img"
          [job]="item.job"
          [ngClass]="{'animated-item': true}"
          (click)="selectTwo(item)"
          />
      }
    </div>
  }

  @if (step === 4) {
    <div class="ContentB">
      @for (item of preferenceOptions; track item) {
        <app-button-preference-three
          [img]="item.img"
          [job]="item.job"
          [ngClass]="{'animated-item': true, 'selected': isSelected(item)}"
          (click)="toggleSelectThree(item)"
          />
      }
    </div>
  }
</ion-content>
