<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button (click)="previousStep()">
          <img src="../../../assets/img/back-black.png" />
        </button>
        <div class="group">
          <p class="contador">{{step + 1}}/{{titles.length}}</p>
          <button
            class="rojo"
            [disabled]="!selectedOption"
            (click)="selectOption(step)"
            [ngClass]="{'disabled-button': !selectedOption}"
          >
            <img src="../../../assets/img/back-black.png" class="next" />
          </button>
        </div>
      </article>

      <article>
        <div class="bard">
          <div
            class="bard-fill"
            [ngStyle]="{'width': getProgressBardWidth()}"
          ></div>
        </div>
        <app-title-preference [title]="titles[step]" />
      </article>
    </section>
    <div class="descrip">
      <p>{{descriptions[step]}}</p>
    </div>
  </div>

  <div class="ContentB" *ngIf="step === 0">
    <app-button-preferences-one
      *ngFor="let item of preferenceOne"
      [language]="item.language"
      [subLanguage]="item.subLanguage"
      [ngClass]="{'animated-item': true}"
      (click)="selectOne($event)"
    />
  </div>

  <div class="ContentB" *ngIf="step === 1">
    <app-button-preferences-two
      *ngFor="let item of preferenceTwo"
      [img]="item.img"
      [job]="item.job"
      [ngClass]="{'animated-item': true}"
      (click)="selectTwo($event)"
    />
  </div>

  <div *ngIf="step === 2" class="ContentB">
    <app-button-preferences-two
      *ngFor="let item of preferenceThree"
      [img]="item.img"
      [job]="item.job"
      [ngClass]="{'animated-item': true}"
      (click)="selectTwo($event)"
    />
  </div>

  <div *ngIf="step === 3" class="ContentB">
    <app-button-preferences-two
      *ngFor="let item of preferenceFour"
      [img]="item.img"
      [job]="item.job"
      [ngClass]="{'animated-item': true}"
      (click)="selectTwo($event)"
    />
  </div>

  <div *ngIf="step === 4" class="ContentB">
    <app-button-preference-three
    *ngFor="let item of preferenceOptions"
    [img]="item.img"
    [job]="item.job"
    [ngClass]="{'animated-item': true, 'selected': isSelected(item)}"
    (click)="toggleSelectThree(item)"
  />
  </div>
</ion-content>
