<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button [routerLink]="['/preferences-view1']">
          <img src="../../../assets/img/back-black.png"/>
        </button>
        <p class="number">2/4</p>
      </article>

      <article>
        <div class="bard"></div>
        <h4>¿Por qué quieres practicar el inglés?</h4>
      </article>
    </section>
    <div class="descrip">
      <p>
        Esto nos ayudará a ajustar nuestros temas para que coincidan con tus intereses.
      </p>
    </div>
  </div>
  <div class="ContentB">
    <app-button-preferences-two
      img="../../../assets/icon/img1.png"
      job="Opportunity to work"
      rute="/preferences-view3"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img2.png"
      job="Travel"
      rute="/preferences-view3"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img3.png"
      job="Study"
      rute="/preferences-view3"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img4.png"
      job="Personal interest"
      rute="/preferences-view3"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img5.png"
      job="Other"
      rute="/preferences-view3"
    />
  </div>
</ion-content>
