<ion-content>
  <ion-content>
    <div *ngIf="selectedOption === 'home'" class="Home">
      <app-home/>
    </div>

    <!-- Componente View-Mazo -->
    <div *ngIf="selectedOption === 'mazo'" class="Mazo">

      <div class="contentOption1">
        <img src="../../../assets/img/views/logoModal.png" class="imgHome" />
        <button class="contentTouch">
          <img src="../../../assets/img/views/decks/manito.png" class="manito">
          <p>Toca para crear un nuevo mazo</p>
        </button>
      </div>
      <!-- <app-modal-create-decks/> -->
    </div>
    <!-- Componente View-Mazo -->
    <div *ngIf="selectedOption === 'user'" class="userSettings">
      <app-profile/>
    </div>
  </ion-content>

  <!-- <app-modalSelection
    [message]="'Quieres cambiar el idioma de la aplicacion al que tu quieres aprender?'"
  /> -->
  <app-navbar />
</ion-content>
