<ion-content>
  <ion-content>
    <div *ngIf="selectedOption === 'home'" class="Home">
      <app-home/>
    </div>

    <!-- Componente View-Mazo -->
    <div *ngIf="selectedOption === 'mazo'">
      <h1>Mazo-View</h1>
    </div>
    <!-- Componente View-Mazo -->

    <!-- Componente View-Chat -->
    <div *ngIf="selectedOption === 'message'">
      <h1>Chat-View</h1>
    </div>
    <!-- Componente View-Chat -->

    <div *ngIf="selectedOption === 'user'" class="userSettings">
      <app-profile/>
    </div>
  </ion-content>

  <!-- <app-modalSelection
    [message]="'Quieres cambiar el idioma de la aplicacion al que tu quieres aprender?'"
  /> -->
  <app-navbar />
</ion-content>
