<ion-content>
  <ion-content>
    <div *ngIf="selectedOption === 'home'" class="Home">
      <app-home />
    </div>

    <!-- Componente View-Mazo -->
      <div *ngIf="selectedOption === 'mazo'" class="Mazo">
        <div *ngIf="decks.length === 0" class="contentOption2">
          <img src="../../../assets/img/views/logoModal.png" class="imgHome" />
          <button class="contentTouch" (click)="openModal()">
            <img src="../../../assets/img/views/decks/manito.png" class="manito">
            <p>Toca para crear un nuevo mazo</p>
          </button>
        </div>

        <div *ngIf="decks.length > 0" class="contentOption1">
          <img src="../../../assets/img/views/logoModal.png" class="imgHome" />
          <div class="body">
            <app-decks
              *ngFor="let deck of decks"
              [title]="deck.title"
              [description]="deck.description + ' cartas agregadas'"
              [routerLink]="['/inside-deck-view']"
              [queryParams]="{ deckId: deck.id }"
            ></app-decks>
          </div>
          <button class="add" (click)="openModal()">
            <img src="../../../assets/img/views/decks/add.png" class="imgAdd">
          </button>
        </div>
      </div>
    <!-- Componente View-Mazo -->
    <div *ngIf="selectedOption === 'user'" class="userSettings">
      <app-profile />
    </div>
  </ion-content>

  <!-- <app-modalSelection
    [message]="'Quieres cambiar el idioma de la aplicacion al que tu quieres aprender?'"
  /> -->
  <app-navbar />
  <app-modal-create-decks
   [isVisible]="isModalVisible"
   (close)="closeModal()"
   />
   <app-loading *ngIf="isLoading"></app-loading>
</ion-content>
