.Home {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #0018ff, #00008b);
}
.userSettings {
  // background-color: rgba(6, 0, 255, 0.2);
  background-color: #CDCCFF;
  width: 100%;
  height: 100%;
}
.Mazo{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: #FFFFFF;
}
img{
  width: 108px;
  height: 28.03px;
  margin-top: 45px;
}
.contentOption1{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.contentTouch{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: none;
}
.manito{
  width: 74px;
  height: 102px;
}
.Mazo p{
  color: #CDCCFF;
}


