<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button [routerLink]="['/preferences-view2']">
          <img src="../../../assets/img/back-black.png"/>
        </button>
        <p class="number">3/4</p>
      </article>

      <article>
        <div class="bard"></div>
        <h4>What’s your english level?</h4>
      </article>
    </section>
    <div class="descrip">
      <p>
        This will help us adjust our leesons to match
      </p>
    </div>
  </div>
  <div class="ContentB">
    <app-button-preferences-two
    img="../../../assets/icon/level1.png"
    job="Beginner"
    rute="/preferences-view4"
  />
  <app-button-preferences-two
    img="../../../assets/icon/level2.png"
    job="Intermediate"
    rute="/preferences-view4"
  />
  <app-button-preferences-two
    img="../../../assets/icon/level3.png"
    job="Advanced"
    rute="/preferences-view4"
  />
  </div>
</ion-content>
