<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
    <div class="body">
      <div class="top">
        <h2>{{title}}</h2>
      </div>
      <div class="bottom">
        <p>Esta acción es irreversible</p>
        <div class="contentBtn">
          <button class="btn-secondary" (click)="closeModal()">Cancelar</button>
          <button class="btn-primary" (click)="executeAction()">{{option}}</button>
        </div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</div>
