<!-- Container for "Editar Carta" -->
<div class="Container" *ngIf="mode === 'editar'">
  <div class="top">
    <button class="back" (click)="back()">
      <img src="../../../assets/img/views/back-black.png" />
    </button>
    <h3>Editar Carta</h3>
  </div>

  <div class="button">
    <div class="containerInput">
      <label>Parte delantera</label>
      <input
        type="text"
        placeholder="Introducir texto aquí"
        [(ngModel)]="frontSide"
      />

      <label>Parte trasera</label>
      <input
        type="text"
        placeholder="Introducir texto aquí"
        [(ngModel)]="backSide"
      />
    </div>

    <div class="containerBtn">
      <button (click)="handleDoneClick()">Hecho</button>
    </div>
  </div>
</div>

<!-- Container for "Agregar Carta" -->
<div class="Container" *ngIf="mode === 'agregar'">
  <div class="top">
    <button class="back" (click)="back()">
      <img src="../../../assets/img/views/back-black.png" />
    </button>
    <h3>Agregar Carta</h3>
  </div>

  <div class="button">
    <div class="containerInput">
      <label>Parte delantera</label>
      <input
        type="text"
        placeholder="Introducir texto aquí"
        [(ngModel)]="frontSide"
      />

      <label>Parte trasera</label>
      <input
        type="text"
        placeholder="Introducir texto aquí"
        [(ngModel)]="backSide"
      />
    </div>

    <div class="containerBtn">
      <button (click)="handleDoneClick()">Hecho</button>
    </div>
  </div>
</div>
