<div class="Container">
  <div class="top">
    <button class="back" (click)="back()">
      <img src="../../../assets/img/views/back-black.png" />
    </button>
    <h3>Agregar Carta</h3>
  </div>

  <div class="button">
    <div class="containerInput">
      <label>Parte delantera</label>
      <input type="text" placeholder="Introducir texto aquí"/>

      <label>Parte trasera</label>
      <input type="text" placeholder="Introducir texto aquí"/>
    </div>

    <div class="containerBtn">
      <button (click)="createCard()">Hecho</button>
    </div>
  </div>
</div>