<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp" />
    </section>

    <section class="body">
      <article class="modal">
        <div class="modal-content">
          <h1>Reset password</h1>
          <p>
            Enter the e-mail address you used to register
          </p>
          <form>
            <p>Email</p>
            <input type="text" name="Email" id="Email" placeholder="Email"/>
          </form>
          <button class="btn" [routerLink]="['/send-email']">Send</button>
          <div class="link">
            <p class="descriptionRegister">Already have an account?</p>
            <button class="btnRegister" [routerLink]="['/login']">
              Login
            </button>
          </div>
        </div>
      </article>
    </section>
  </div>
</ion-content>
