<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/welcome']">
        <img src="../../../assets/img/back.png" />
      </button>
      <img src="../../../assets/img/logoApp.png" class="logoApp" />
    </section>
    @if (step === 0) {
      <section class="body">
        <app-ask-email-view (stepChange)="selectOption($event)"></app-ask-email-view>
      </section>
    }
    @if (step === 1) {
      <section class="bodyy">
        <app-email-sent-view></app-email-sent-view>
      </section>
    }
  </div>
</ion-content>
