<ion-content [fullscreen]="true" scrollY="false" class="MainContent">
  
  <div class="ContentA">
    <section class="header">
      <button class="back" [routerLink]="['/login']">
        <img src="../../../assets/img/views/back.png" />
      </button>
      <img src="../../../assets/img/views/logoApp.png" class="logoApp" />
    </section>
  </div>

  <div class="ContentB">
    @if (step === 0) {
      <section class="body">
        <app-ask-email (stepChange)="selectOption($event)"></app-ask-email>
      </section>
    }
    @if (step === 1) {
      <section class="bodyy">
        <app-email-sent></app-email-sent>
      </section>
    }
  </div>

</ion-content>
