<div class="container">
  <div class="welcome-message">
    <img src="../../../assets/icons/Estelar.png" class="fade-in">
    <h1 class="title">¡Increíble, has revisado todas las tarjetas de hoy!</h1>
    <p class="subTitle">Nuevas tarjetas aparecerán pronto</p>
  </div>
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
  <div class="circle circle4"></div>
  <div class="containerBtn">
    <button (click)="precess()">Continuar</button>
  </div>
</div>
