.content{
    background-color: #FF000075;
    height: 63px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    width: 95%;
}
p{
    font-size: 11px;
    color: black;
}
img{
    height: 25px;
    width: 25px;
}