<div class="Container">

  <div class="top">
    <button class="back" (click)="back()">
      <img src="../../../assets/img/views/back-black.png" />
    </button>
    <h3>Generar cartas con IA</h3>
  </div>

  <div class="button">
    <div class="Estudio">
      <div class="write">
        <h6 class="writeTitle">Genera tus cartas de estudio.</h6>
        <p class="writeSubtitle">
          Ingresa un tema específico o elige uno de la lista proporcionada. La IA ofrecerá contenido educativo relacionado al tema seleccionado.
        </p>
      </div>
    </div>
    <h2>¿Sobre qué quieres que se trate tu mazo?</h2>
    <div class="containerInput">
      <div class="input-group">
        <div class="custom-checkbox">
          <input
            type="checkbox"
            id="text-checkbox"
            [(ngModel)]="isTextInputSelected"
            (change)="onCheckboxChange('text')"
          />
          <label for="text-checkbox"></label>
        </div>
        <input
          #textInput
          type="text"
          placeholder="Introducir texto aquí"
          [disabled]="!isTextInputSelected"
          [(ngModel)]="textValue"
          (ngModelChange)="onTextInputChange()"
        />
      </div>

      <div class="ContentLine">
        <div class="line"></div>
        <p class="writeLine">O</p>
        <div class="line"></div>
      </div>

      <div class="input-group">
        <div class="custom-checkbox">
          <input
            class="inputSelect"
            type="checkbox"
            id="select-checkbox"
            [(ngModel)]="isSelectInputSelected"
            (change)="onCheckboxChange('select')"
          />
          <label for="select-checkbox"></label>
        </div>

        <select
          #selectInput
          [disabled]="!isSelectInputSelected"
          [class.red]="isSelectInputSelected"
          [(ngModel)]="selectedValue"
          (ngModelChange)="onSelectChange()"
        >
          <option class="green" value="" disabled selected>Selecciona algún tema</option>
          <option *ngFor="let topic of topics" [value]="topic.des_topic" [id]="topic.id" class="green">
            {{ topic.des_topic }}
            {{ topic.id_topic }}
          </option>
        </select>

      </div>
      <!-- Siguiente Paso -->
      <div class="newCard" *ngIf="showNewCard">
        <div class="lineSeparate"></div>
        <button class="counterCard" (click)="openModal()">
          <p>Cartas a generar: {{ numberOfCardsToGenerate }}</p>
        </button>
      </div>
      <!-- Siguiente Paso -->

    </div>
    <div class="containerBtn">
      <button (click)="handleDoneClick()"
      [ngClass]="{'disabled-btn': !isButtonEnabled, 'enabled-btn': isButtonEnabled}"
      [disabled]="!isButtonEnabled"
      >Hecho</button>
    </div>
  </div>

  <app-card-option-day-selector
    [isVisible]="isModalVisible"
    (close)="closeModal()"
    (valueChange)="onNumberOfCardsChange($event)"
    title="Establece la cantidad de cartas que deseas generar"
    valueType="cartas"
    propertyName="generate"
    [deckId]="deckId"
  />

  <app-modal-error [isVisible]="isModalErrorVisible" [description]="errorDescription" (close)="closeModalError()"/>
  <app-loading *ngIf="isLoading"></app-loading>
</div>
