.descrip{
    font-size: 18px;
    font-weight: lighter;
    color: #ffffff;
    text-align: left;
    margin-top: 5px;
}
.Greeting{
    font-size: 24px;
    font-weight: 650;
    color: #ffffff;
    margin-bottom: 0;
}
.container{
    width: 92%;
}
