<div class="container">
    <button class="Back" [routerLink]="['/register']">
        <img src="../../../assets/img/back.png" alt="">
    </button>
    <div class="welcome-message">
        <app-title-lr
            title="Welcome!"
            subtitle="We are excited to have you on board! Please fill in the form below to get started."
        />
        <button class="button" [routerLink]="['/login']">Continuar</button>
    </div>
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
</div>