<div class="container">
    <button class="Back" [routerLink]="['/register']">
        <img src="../../../assets/img/back.png" alt="">
    </button>
    <div class="welcome-message">
        <app-title-lr
            title="Bienvenido!"
            subtitle="Esperemos poder ayudarte con tu aprendizaje de idiomas. Déjanos conocerte un poco mejor..."
        />
        <button class="button" (click)="navigateComponent()">Continuar</button>
    </div>
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
</div>