<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button>
          <img src="../../../assets/img/back-black.png" alt="" />
        </button>
        <p class="number">4/4</p>
      </article>

      <article>
        <div class="bard"></div>
        <h4>Selecciona tus temas de interés</h4>
      </article>
    </section>
    <div class="descrip">
      <p>
        cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc      </p>
    </div>
  </div>
  <div class="ContentB">
    <button class="select">
      <div class="contentSelect">
        <h6 class="primary">Ingles</h6>
        <p class="secondary">Ingles</p>
      </div>
    </button>

    <button class="select">
      <div class="contentSelect">
        <h6 class="primary">Ingles</h6>
        <p class="secondary">Ingles</p>
      </div>
    </button>
  </div>
</ion-content>
