<ion-content [fullscreen]="true">
  <div class="ContentA">
    <section class="bodyA">
      <article class="top">
        <button [routerLink]="['/preferences-view3']">
          <img src="../../../assets/img/back-black.png" />
        </button>
        <p class="number">4/4</p>
      </article>

      <article>
        <div class="bard"></div>
        <h4>Selecciona tus temas de interés</h4>
      </article>
    </section>
    <div class="descrip">
      <p>
        cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc
      </p>
    </div>
  </div>
  <div class="ContentB">
    <app-button-preferences-two
      img="../../../assets/icon/img11.png"
      job="Sports"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img6.png"
      job="Culture and Entertainment"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img9.png"
      job="Literature"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img1.png"
      job="Work"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img10.png"
      job="Science"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img7.png"
      job="Economics"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img5.png"
      job="Food"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img8.png"
      job="Art"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img11.png"
      job="Sports"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img6.png"
      job="Culture and Entertainment"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img9.png"
      job="Literature"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img1.png"
      job="Work"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img10.png"
      job="Science"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img7.png"
      job="Economics"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img5.png"
      job="Food"
      rute="/preferences-view5"
    />
    <app-button-preferences-two
      img="../../../assets/icon/img8.png"
      job="Art"
      rute="/preferences-view5"
    />
  </div>
</ion-content>
