.select{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 346px;
    height: 60px;
    background: #F0F0F0;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: background-color 1s ease;
}
.select:hover{
    border: 1px solid #0600FF;
    background-color: rgba(6, 0, 255, 0.2);
}
.contentSelect{
    padding-left: 40px;
    text-align: left;
}
.primary{
    font-size: 17px;
    font-weight: 700;
    color: #040099;
    margin-bottom: 4px;
}
.secondary{
    font-size: 13px;
    font-weight: normal;
    color: #0600FF;
    margin-top: 0;
}