<div class="Chat">
  <div class="ContentA">
    <section class="header">
      <button
        class="back"
        [routerLink]="['/inside-deck-view']"
        [queryParams]="{ deckId }"
      >
        <img src="../../../assets/img/views/back-black.png" />
      </button>
      <img src="../../../assets/img/views/logoModal.png" class="logoApp" />
    </section>
  </div>

  <div class="ContentB">
    <div class="title">
      <p>Configuración del mazo</p>
    </div>
    <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Cartas nuevas por día'"
      [hoverColor]="'#0600FF'"
      width="348px"
      [icon]="'../../../../assets/icons/songs.png'"
      [hoverColor]="'#0600FF'"
      (click)="openModalThree()"
    />

    <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Intervalo de graduación'"
      [hoverColor]="'#0600FF'"
      width="365px"
      [icon]="'../../../../assets/icons/intervalo.png'"
      [hoverColor]="'#0600FF'"
      (click)="openModalFour()"
    />
    <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Paso'"
      [hoverColor]="'#0600FF'"
      width="348px"
      [icon]="'../../../../assets/icons/huellas.png'"
      [hoverColor]="'#0600FF'"
      (click)="openModalFive()"
    />

    <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Intervalo máximo de graduación'"
      [hoverColor]="'#0600FF'"
      width="348px"
      [icon]="'../../../../assets/icons/fecha.png'"
      [hoverColor]="'#0600FF'"
      (click)="openModalSix()"
    />

    <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'#000000'"
      [borderColor]="'none'"
      [title]="'Reiniciar progreso'"
      [hoverColor]="'#0600FF'"
      width="348px"
      [icon]="'../../../../assets/icons/retroceso.png'"
      [hoverColor]="'#0600FF'"
      (click)="openModal()"
    />

    <app-btn-option-card
      [color]="'#F0F0F0'"
      [textColor]="'red'"
      [borderColor]="'none'"
      [title]="'Eliminar'"
      [hoverColor]="'#0600FF'"
      width="348px"
      [icon]="'../../../../assets/icons/trashRed.png'"
      [hoverColor]="'#0600FF'"
      (click)="openModalTwo()"
    />
  </div>
  <app-delete-reset-modal
    [isVisible]="isModalVisible"
    (close)="closeModal()"
    title="Reiniciar progreso"
    option="Si, reiniciar"
    (action)="handleResetDeck()"
  />
  <app-delete-reset-modal
    [isVisible]="isModalVisibleTwo"
    (close)="closeModalTwo()"
    title="Eliminar mazo"
    option="Si, eliminar"
    (action)="handleDeleteDeck()"
  />
  <!-- Modal de Creacion de Cartas -->
  <app-card-option-day-selector
    [isVisible]="isModalVisibleThree"
    (close)="closeModalThree()"
    title="Establece la cantidad de cartas nuevas que deseas ver al día"
    [value]="deckConfig.new_cards_per_day"
    valueType="cartas"
    subTitle=""
    propertyName="new_cards_per_day"
    [deckId]="deckId"
  ></app-card-option-day-selector>

  <app-card-option-day-selector
    [isVisible]="isModalVisibleFour"
    (close)="closeModalFour()"
    title="Representa tu primer intervalo en la fase graduada"
    [value]="deckConfig.gra_interval"
    valueType="horas"
    subTitle=""
    propertyName="gra_interval"
    [deckId]="deckId"
  />
  <app-card-option-day-selector
    [isVisible]="isModalVisibleFive"
    (close)="closeModalFive()"
    title="Representa cada intervalo en la fase de aprendizaje"
    [value]="deckConfig.ste_value"
    subTitle=""
    valueType="minutos"
    propertyName="ste_value"
    [deckId]="deckId"
  />
  <app-card-option-day-selector
    [isVisible]="isModalVisibleSix"
    (close)="closeModalSix()"
    title="Representa el intervalo máximo en la fase graduada"
    [value]="deckConfig.gra_max_interval"
    subTitle=""
    valueType="días"
    propertyName="gra_max_interval"
    [deckId]="deckId"
  />
  <app-loading *ngIf="isLoading"></app-loading>
  <app-modal-error [isVisible]="isModalErrorVisible" [description]="errorDescription" (close)="closeModalError()"/>
</div>
